.container{
  min-width: 800px;
  min-height: 50vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-top: 50px;
}

.loadButton{
  cursor: pointer;
  user-select: none;
  background-color: white;
  padding: 10px 20px;
  margin-top: 20px;
}