.container{
  min-width: 800px;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-evenly;
  justify-content: space-evenly;
}

.loadButton{
  cursor: pointer;
  user-select: none;
  background-color: white;
  padding: 10px 20px;
  margin-top: 20px;
  width: 100px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.mainContainer{
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-bottom: 20px;
  min-height: 100vh;
}