@import './../../../common_settings/common.scss';
@import './../../../common_settings/theme.scss';
.box {
  @extend %container;
  @extend %flex-center;
}
.currentDay {
  border-radius: $font-size-value * 0.6;
  background-color: $primary-dark-color;
  color: white;
}
.otherMonth {
  color: $other-month-day-color;
}
