@import './../common_settings/common.scss';
@import './../common_settings/theme.scss';
.wrapper {
  @extend %wrapper;
  background-color: $primary-dark-color;
  & > * {
    font-weight: lighter;
    text-transform: uppercase;
    color: $second-light-color;
  }
  border-radius: 40px;
}
.name {
  @extend %title;
  margin-bottom: $font-size-value * 0.85;
  font-weight: bold;
}
.number {
  font-size: $font-size-value * 18;
}
