/*.userItemContainer {
  width: 100%;
  min-width: 300px;
  min-height: 100px;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userItemContainer ~ .userItemContainer{
  margin-top: 20px;
}

.userAvatar {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.userFName{
  margin-top: 10px;
}
*/

.userItemContainer{
  box-sizing: border-box;
  background-color: #242424;
  text-align: center;
  width: 330px;
  margin-top: 120px;
  border-radius: 10px;
  flex-basis: 320px;

}

.userInfoContainer > *{
  margin: 0 auto;
}
.userAvatar{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 4px solid gray;
  margin: -65px auto 0;
  overflow: hidden;
}
.userAvatar > img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/*
.userInfo > h2, h3, h4, h5{
  font-family: "Antipasto Pro";
  margin: 0;
}*/
.userFName{
  margin-top: 15px;
  text-align: center;
  color: #adadad;
  padding: inherit;
}
.userLocation{
  margin-top: 5px;
  text-align: center;
  color: lightslategray;
  padding: inherit;
}
.userEmail{
  margin-top: 5px;
  text-align: center;
  color: #00ad1e;
  padding: inherit;
}

.userInfo{
  margin-top: 5px;
  text-align: center;
  color: #00ad1e;
  padding: inherit;
  overflow-wrap: break-word;
  font-size: 1.3rem;
}

.removeCross{
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
  cursor: pointer;
  user-select: none;
}

.iconContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.emailIcon{
  background: url("./icons/emailIcon.png"), #ffffff;
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.nameIcon{
  background: url("./icons/profileIcon.png"), #ffffff;
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.locationIcon{
  background: url("./icons/locationIcon.png"), #ffffff;
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.iconActive{
  background-color: #ffa800;
}